body {
  background-color: #28282B;
}

#link-input {
  margin: 10px;
}

#player {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
}


#playerController {
  margin-top: 1%;
  display: flex;
  /* margin-left: 25%; */
  margin-left: 10%;
}

#line {
  margin-left: 5px;
  margin-top: 10px;
  width: 550px;
  position: relative;
  top: 30%;
  color: black;
  border: 2px solid black;
}

#square {
  position: relative;
  border: 2px solid white;
  border-radius: 50%;
  margin-left: 3px;
  height: 15px;
  width: 15px;
  transition: transform .2s;
}

#playVideo {
  margin-right: 5px;
}

#pauseVideo {
  /* margin: 20px; */
}


#square:hover {
  transform: scale(1.3);
}

#link-input {
  /* display: flex;
    align-items: center;
    justify-content: center; */
  margin-left: 10%;
  margin-top: 1%;
  margin-bottom: 20px;
  padding: 10px;
  /* background-color: black; */
}

#link-Submit {
  background-color: white;
  color: #28282B;
  padding: 10px;
  border-radius: 20px;
  transition: transform .2s;

}

#link-Submit:hover {
  transform: scale(1.2);
}

#youtubes {
  width: 35%;
  height: 35px;
  border-radius: 10px;
  background-color: #28282B;
  min-width: 30%;
  color: white;
}

.main-container {
  display: grid;
  grid-template-columns: 50% 50%;
}



.Text-Feature {
  min-height: 300px;
  scroll-behavior: smooth;
  background-color: #aaa9a9;
  color: black;
  margin-top: 17%;
  border-radius: 0px 20px 20px 20px;
  margin-top: 108px;
  width: 40%;
  
  margin-left: 201px;
  max-width: 100%;
}

#send-container input {
  height: 40px;
  border-radius: 8px;
  font-size: 1.5rem;
  color: black;
}

#send-container button {
  margin: 10px;
  background-color: #3b5998;
  color: white;
  padding: 10px;
  border-radius: 8px;
}




#message-container {
  /* max-height: 100px; */
  margin-left: 10px;
}


#room-container {
  margin: 30px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.room-name {
  color: white;
  font-size: 1.5rem;
  text-align: center;
}

.input-room {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-room button {
  margin: 10px;
  background-color: #3b5998;
  color: white;
  padding: 10px;
  border-radius: 8px;
}

.input-room input {
  height: 40px;
  border-radius: 8px;
  font-size: 1.5rem;
}

.btn-room {
  font-size: 2rem;
}

.header {
  padding-top: 30px;
  color: white;
  text-align: center;
}

.description {
  font-size: 1.5rem;
}

@media (min-width: 0px) and (max-width: 1000px) {

  .main-container {
         
         display: block;
     } 
  #player {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
    margin-left: 0%;
    margin-right: 60px;
  }
  #line {
    width: 700px;
  }
  .Text-Feature {
    margin-left: 12%;
    display: grid;
    align-items: center;
    justify-content: center;
    width: 75%;
  }
  
 
 }
