body {
  background-color: #28282B;
}

#link-input{
  margin: 10px;
}

#player {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10%;
  }
  #playerController {
    margin-top: 1%;
    display: flex;
    /* margin-left: 25%; */
    margin-left: 10%;
  }
  #line {
    margin-left: 5px;
    margin-top: 10px;
    width: 550px;
    position: relative;
    top: 30%;
    color: black;
    border: 2px solid black;
  }
  #square {
    position: relative;
    border: 2px solid white;
    border-radius: 50%;
    margin-left: 3px;
    height: 15px;
    width: 15px;
    transition: transform .2s;
  }
  #square:hover {
    transform: scale(1.3);
  }

  #link-input{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin-left: 10%;
    margin-top: 1%;
    margin-bottom: 20px;
    padding: 10px;
    /* background-color: black; */
  }
  #link-Submit {
    background-color: white;
    color: #28282B;
    padding: 10px;
    border-radius: 20px;
    transition: transform .2s;

  }
  #link-Submit:hover {
    transform: scale(1.2);
  }
  #youtubes {
    width: 35%;
    height: 35px;
    border-radius: 10px;
    background-color:#28282B;
  }
  