#player {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
  }
  #playerController {
   display: flex;
    margin-left: 25%;
  }
  #line {
    margin-left: 5px;
    margin-top: 10px;
    width: 550px;
    position: relative;
    top: 30%;
    color: black;
    border: 2px solid black;
  }
  #square {
    position: relative;
    border: 2px solid;
    margin-left: 3px;
    height: 15px;
    width: 15px;
  }